.plus-sign,
.plus-sign-24,
.trash,
.trash-24,
.copy,
.copy-24,
.share-icon-2,
.share-icon-2-24,
.link,
.link-24,
.image,
.image-24 {
    background-position: center center;
    background-repeat: no-repeat;
    background-size: contain;
    cursor: pointer;
    transition: .2s ease-in-out;
}

@media (prefers-color-scheme: dark) {

    .plus-sign,
    .plus-sign-24,
    .trash,
    .trash-24,
    .copy,
    .copy-24,
    .share-icon-2,
    .share-icon-2-24,
    .link,
    .link-24,
    .image,
    .image-24 {
        background-position: center center;
        background-repeat: no-repeat;
        background-size: contain;
        cursor: pointer;
        transition: .2s ease-in-out;
        filter: brightness(0) invert();
    }
}

.plus-sign,
.trash,
.copy,
.share-icon-2,
.link,
.image {
    min-width: 16px;
    min-height: 16px;
}

.plus-sign-24,
.trash-24,
.copy-24,
.share-icon-2-24,
.link-24,
.image-24 {
    min-width: 20px;
    min-height: 20px;
}

.link,
.link-24 {
    background-image: url('../Assets/link.svg');
}
.image,
.image-24 {
    background-image: url('../Assets/image.svg');
}
.share-icon-2,
.share-icon-2-24 {
    background-image: url('../Assets/share-icon-2.svg');
}

.plus-sign,
.plus-sign-24 {
    background-image: url('../Assets/plus-sign.svg');
}

.trash,
.trash-24 {
    background-image: url('../Assets/trash.svg');
}

.copy,
.copy-24 {
    background-image: url('../Assets/copy.svg');
}